.todo-lists {
    border: 1px solid #DDD;
    height: 500px;
    overflow-x: none;
    overflow-y: auto;
}

.no-goals {
    line-height: 498px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #CCC;
}
