.checkbox-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 20px;
}

.text-content {
    vertical-align: text-bottom;
}

.completed {
  color: #888888;
  text-decoration: line-through;
}
